.ant-modal-body {
  padding: 16px 20px 8px 20px;
}

.ant-modal-body .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.ant-modal-body .form-row .ant-space-item:nth-child(1) {
  width: -webkit-fill-available;
}

.ant-modal-body .form-row .ant-space-item:nth-child(1) .ant-form-item-explain {
  display: none !important;
}

.ant-modal-body .form-row {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.ant-modal-body .form-row h4 {
  margin-bottom: 0;
}

.icon-delete-purchase:hover {
  color: #1890ff;
}
