.bg-image {
  background-image: url('../../assets/images/login_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  min-width: 300px;
}

.card-container .logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #f8f8f8;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.15);
  background-image: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-container .ant-card {
  padding: 80px 20px 28px 20px;
  border-radius: 6px;
}

.card-container .ant-card .ant-card-head {
  padding: 0;
}

.card-container .ant-card .ant-card-body {
  padding: 0;
}
